* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

header h1 {
    padding: 50px;
    text-align: center;
}

nav {
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

li,
a {
    list-style: none;
    text-decoration: none;
    color: aliceblue;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* margin: 0 auto; */
    text-align: left;
    /* width: 100%; */
    height: auto;
}

header,
footer {
    background-color: rgb(75, 74, 74);
    color: aliceblue;
    /* height: 160.5px; */
}

footer {
    text-align: start;
    padding: 10px;
    height: 117px;
}

div:nth-of-type(1) {
    background-color: rgb(202, 198, 198);
    height: 300px;
    padding: 10px;
}

div:nth-of-type(2) {
    background-color: aqua;
    padding: 10px;
}